.sc1-nav {
	background: var(--nav-back);
	display: flex;
	align-items: center;
	padding: 0 10px;
	border-bottom: solid 1.5px var(--border-color);
}

.nav-user {
	flex: 1.75;
	display: flex;
	align-items: center;
}
.nav-options {
	flex: 1;
	display: flex;
	justify-content: space-around;
}
.nav-options > * {
	z-index: 0;
}
.nav-options svg {
	color: var(--icon-colors);
	font-size: var(--icon-size);
}
