.sc2-nav {
	background: var(--nav-back);
	display: flex;
	align-items: center;
	padding: 0 10px;
	z-index: 1;
	border-bottom: solid 1.5px var(--border-color);
}

.sc2-nav > :nth-child(1) {
	flex: 9;
	display: flex;
	align-items: center;
}

.sc2-nav > :nth-child(2) {
	flex: 1;
}

.nav2-back-btn {
	font-size: small;
	color: white;
	width: 20px;
	height: 20px;
}

.nav2-options {
	display: flex;
	justify-content: space-around;
}
