.sc2-nav {
	background: var(--nav-back);
	display: flex;
	align-items: center;
	padding: 0 10px;
	z-index: 1;
	border-bottom: solid 1.5px var(--border-color);
}

.sc2-nav > :nth-child(1) {
	flex: 9;
	display: flex;
	align-items: center;
}

.sc2-nav > :nth-child(2) {
	flex: 1;
}

.nav2-options {
	display: flex;
	justify-content: space-around;
}

.icon {
	font-size: x-large;
}
.back-btn {
	display: none !important;
}

@media screen and (max-width: 520px) {
	.back-btn {
		display: inline-flex !important;
		background-color: rebeccapurple;
	}
}
