.convrsation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 90vh;
}

.chat-input {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
.chat-input > form {
	width: 85%;
	display: flex;
}
.chat-input input {
	flex: 5;
	height: 5vh;
}
.chat-input button {
	flex: 1;
}
