.voice-recording-div {
	flex: 2;
}

.recording {
	display: flex;
	align-items: center;
	overflow: hidden;
	animation: timerAnimation cubic-bezier(0, 0, 0, 1.18) 150ms;
}

.not-recording {
}

.recording-timer {
	display: flex;
	align-items: center;
}

.timer-blinker {
	height: 15px;
	width: 15px;
	margin-right: 5px;
	background: red;
	border-radius: 50%;
	animation: timerBlinkerAnimation linear 2s infinite;
}

@keyframes timerBlinkerAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes timerAnimation {
	0% {
		opacity: 0;
		transform: scaleX(0);
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
	}
}
