@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.home {
	display: flex;
	height: 100vh;
	width: 100%;
	background: #f6cdcd;
	overflow: hidden;
	position: relative;
}

.home > * {
	flex: 1;
}
.home-background-blob-object {
	content: "";
	position: absolute;
	width: max(500px, 75vw);
	height: max(500px, 75vw);
	top: -50%;
	left: -5%;
	border-radius: 50%;
	background: linear-gradient(-45deg, #06d755, #fff);
	transform: translateY(25%);
}

.home__right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logIn__container {
	padding: 2rem;
	z-index: 10;
	border-radius: 15px;
	background: #ffffff45;
	backdrop-filter: blur(2px);
	box-shadow: 0px 2px 4px rgb(104 100 100 / 56%);
}

/* .logged-in-user {
} */

.logged-in-user > :nth-child(1) {
	background-color: rgba(245, 243, 243, 0.37);
	backdrop-filter: blur(2px);
	border-radius: 10px;
	display: flex;
	margin: 10px 0;
	padding: 10px;
	box-shadow: 0px 2px 5px rgb(104, 100, 100);
}
.logged-in-user .user-image-div {
	border-radius: 50%;
	height: 50px;
	margin: 5px;
	border: solid 5px #06d755;
}
.user-image-div > img {
	border-radius: 50%;
	height: 50px;
}

.logged-in-user .user-description-div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	word-break: break-word;
}
.logIn__container h1 {
	color: #06d755;
	font-family: "Roboto", sans-serif;
	font-size: max(5.5vw, 3rem);
	margin-bottom: 1.5rem;
}
.log_in_btn,
.logged-in-user .btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #06d755;
	font-size: max(2vw, 1rem);
	font-family: "Roboto", sans-serif;
	color: #fff;
	margin: auto;
	padding: 0.5rem 1rem;
	width: fit-content;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.5s;
}

.log_in_btn:hover,
.logged-in-user .btn:hover {
	background-color: #048033;
}

.home__left img {
	position: absolute;
	bottom: 0%;
	width: max(35vw, 300px);
	z-index: 5;
}

@media (max-width: 600px) {
	.home__left {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
	}
}
