.screen2 {
	flex: 0.65;
	height: inherit;
	display: grid;
	grid-template-rows: 12vh 88vh;
	background-color: var(--nav-back);
}

@media screen and (max-width: 450px) {
	.screen2 {
		flex: 1;
		position: absolute;
		top: 0;
		z-index: 0;
	}
}
