.screen1 {
	flex: 0.35;
	height: inherit;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: solid 1px var(--border-color);
	display: grid;
	grid-template-rows: 12vh 88vh;
}

@media screen and (max-width: 450px) {
	.screen1 {
		flex: 1;
		height: 100vh;
		z-index: 1;
	}
}
