/* width */
::-webkit-scrollbar {
	width: 6px;
	opacity: 0.3;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	opacity: 0.3;
}

::-webkit-scrollbar-track:hover {
	opacity: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	opacity: 1;
}
.chats {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	height: auto;
}
.chats > div {
	padding: 10px;
	background-color: white;
	width: fit-content;
	margin: 1vw;
}
.chats > .from {
	align-self: flex-end;
}

.chats > .to {
	align-self: flex-start;
}

.chats .chat-time {
	font-size: 0.7rem;
	color: grey;
}

#hidden-chat {
	visibility: hidden;
	height: 0px;
	padding: 0;
	margin: 0;
}
