/* width */
::-webkit-scrollbar {
	width: 6px;
	opacity: 0.3;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	opacity: 0.3;
}

::-webkit-scrollbar-track:hover {
	opacity: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	opacity: 1;
}
/*******************************************************************/

/* This is Chats section  */
.chats {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}
.message-element {
	display: flex;
	margin: 5px 5px;
	max-width: 80%;
	min-width: 200px;
}
.message-element > .main-body {
	padding: 10px;
	width: min(65%, 400px);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow-wrap: break-word;
}
.message-element > .main-body > * {
	max-width: 100%;
}

.from .main-body {
	border-top-right-radius: 0;
	background-color: #dcf8c6;
	box-shadow: -1px 1px 2px grey;
}

.to .main-body {
	border-top-left-radius: 0;
	background-color: #fdfdfd;
	box-shadow: 1px 1px 2px grey;
}
.from .message-element-tail {
	height: 0px;
	width: 0px;
	border-top: solid 8px #dcf8c6;
	border-right: 8px solid transparent;
}
.to .message-element-tail {
	height: 0px;
	width: 0px;
	border-top: solid 8px white;
	border-left: 8px solid transparent;
}
.chats > .from {
	flex-direction: row-reverse;
	align-self: flex-end;
}

.chats > .to {
	align-self: flex-start;
}

.message-content {
	overflow-wrap: anywhere;
}

.message-time {
	font-size: 0.7rem;
	color: grey;
	margin-top: 2px;
}
.to .message-time {
	align-self: flex-start;
}
.from .message-time {
	align-self: flex-end;
}

#hidden-chat {
	visibility: hidden;
	height: 0px;
	padding: 0;
	margin: 0;
}
