.chat-head {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-auto-rows: minmax(20px, 50px);
	align-content: center;
	background-color: var(--chat-head-back);
	border-bottom: solid 0.5px var(--border-color);
	cursor: pointer;
	padding: 0 10px;
	height: 13vh;
	font-size: 1.1rem;
}

.chat-head:hover {
	background-color: var(--chat-head-hover);
}

.active-chat {
	background-color: var(--active-chat-back);
}
.active-chat:hover {
	background-color: var(--active-chat-back);
}

.chat-head > :nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.chat-head > :nth-child(2) {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-prev {
	display: flex;
	justify-content: space-between;
}

.unread-messages {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: x-small;
	color: white;
	font-weight: 700;
}

.unread-messages p {
	width: 3vh;
	height: 3vh;
	border-radius: 50%;
	text-align: center;
	background-color: #06d755;
	display: flex;
	align-items: center;
	justify-content: center;
}
