.setup-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ededed;
	height: 100%;
}

.setup-profile > div {
	margin: 20px 0;
}

.profile-pic {
	width: 75%;
}
.profile-pic > img {
	width: 100%;
	border-radius: 50%;
}

.profile-div {
	width: 100%;
	height: 20%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 1.1rem;
	padding: 5px 0;
}

.profile-div > * {
	width: 80%;
}
